# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
*.local

# Environment variables
.env
.env.production
.env.development

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.egg-info/

# Logs & IDEs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
.DS_Store